	/* settlementConfirm.jsp
	settlementComplete.jsp */

	.goComplete {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 150px;
		width: 80%;

	}

	.Check {
		margin-bottom: 10px;
		margin-left: 150px;
		margin-top: 30px;
	}

	.notCheck {
		width: 70%;
		margin-right: 10%;
		margin-left: 10%;
		border: solid 2px #6e6e6e;
		margin-bottom: 30px;
		border-radius: 10px;
		padding: 15px;
		text-align: center;
		display: inline-block;
		background-color: #fafafa;
	}

	tr {
		width: 100%;
		text-align: center;
		display: inline-block;
	}

	.left {
		display: inline-block;
		width: 20%;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.right {
		display: inline-block;
		width: 70%;
		text-align: center;
		border-left: solid 2px #6e6e6e;
		border-radius: 2px;
	}

	.button3 {
		text-align: center;
	}

	.errorComment h1 {
	 	text-align: center;
	 	margin: 30px;
	 	font-size: 36px;
	}
